footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0;

    .copyright {
        line-height: 1;
        font-size: 0.8rem;
    }
}


footer.sticky-footer:after {
    content: "Does this work";
    color: #000;
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
